
    h1{color: #fff;}
    .topbar{
        display:flex;
        align-items:center;
        justify-content:space-between;
        padding:12px 20px;
        background:url(Copy\ Space\ Blank\ Notebook\ And\ Laptop\ On\ Black\ Background\ A\ Modern\ Workspace\ Concept\ With\ Plenty\ Of\ 3d\ Render\ Backgrounds\ _\ JPG\ Free\ Download\ -\ Pikbest.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom:1px solid #e6e8eb;
        position:sticky;
        background-position: center;
        top:0;
        z-index:20;
        border-radius: 10px;
    }
.searchbar{
    flex:1;
    max-width:800px;
    margin:0 20px;
    display:flex;
    gap:8px
}
.searchbar input{flex:1;
    padding:10px 12px;
    border:1px solid #ddd;
    border-radius:6px}
.searchbar button{padding:10px 14px;
    border:none;
    color:#fff;
    border-radius:6px;
    cursor:pointer}
.text{ 
    padding: 20px;
    width: 700px;
    margin: auto;
}
h2{
    color:black;
    text-align: center;
}

article{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
    padding:10px;
}
section{
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: auto;
}
img{
    width: 100%;
    border-radius: 5px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.mol{
    background-color: #222;
    color: fff;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    border-radius: 5px;
}
.lol{
    max-width: 800px;
    margin: auto;

}
.footer a{
    color:#e6e8eb;
    margin: 0 10px;
    text-decoration: none;
}
.footera:hover{
    text-decoration: underline;
}





.searchbar{flex:1;max-width:800px;margin:0 20px;display:flex;gap:8px}